.productDetail1-container {
    .ratings{
      position: absolute;
      width: 335px;
      height: 71px;
      left: 22px;
      top: 762px;

    }
    .wishlist{
      box-sizing: border-box;

/* Auto layout */

      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 10px;
      gap: 10px;

      position: absolute;
      width: 40px;
      height: 40px;
      left: calc(50% - 40px/2 - 147.5px);
      bottom: 10px;

      background: #FFFFFF;
      border: 1px solid #AAAAAA;
      border-radius: 8px;
    }
    .footer{
      width: 375px;
      height: 30px;
      left: calc(50% - 375px/2);
      bottom: 10px;
      background: #FFFFFF;
    }
    .container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      text-align: center;

      .prodDetail{
        position: absolute;
        height: 26px;
        left: 20px;
        right: 97px;
        top: 300px;

        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        /* identical to box height */

        letter-spacing: 0.005em;

        color: #121212;
      }

      .price{
        position: absolute;
        height: 26px;
        left: 20px;
        right: 305px;
        top: 338px;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        /* identical to box height */

        letter-spacing: 0.005em;

        color: #2F5AC7;
      }

      .variant{
        position: absolute;
        height: 18px;
        left: 21px;
        right: 249px;
        top: 392px;
    
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.005em;
    
        color: #444444;
      }
      .incrementButton{
        position: absolute;
        width: 11.5px;
        height: 11.5px;
        left: 210.25px;
        top: 342.25px;
      }
      .middleButton{

        position: absolute;
        height: 15px;
        left: 250px;
        right: 60px;
        top: 346px;
        border: none;

      }
      .decrementButton{

        position: absolute;
        width: 21.5px;
        height: 21.5px;
        left: 332.25px;
        top: 342.25px;
              
      }
      .details{
        position: absolute;
        height: 55px;
        left: 20px;
        right: 20px;
        top: 426px;
        background: #FAFAFA;
        border-radius: 8px;
        padding-top: 20px
      }
      .colorDetails{
        height: 15px;
        left: 33px;
        right: 268px;
        top: 446px;

        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 15px;
        /* identical to box height, or 107% */

        letter-spacing: 0.005em;

        color: #444444;
      }
      .sizeDetails{
        height: 15px;
        left: 115px;
        right: 205px;
        top: 446px;

        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 15px;
        /* identical to box height, or 107% */

        letter-spacing: 0.005em;

        color: #444444;
      }
      .intensityDetails{
        height: 15px;
        left: 178px;
        right: 85px;
        top: 446px;

        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 15px;
        /* identical to box height, or 107% */

        letter-spacing: 0.005em;

        color: #444444;
      }
      .backicon{
        position: absolute;
        width: 32px;
        height: 32px;
        left: 20px;
        top: 56px;
      }
      .shareicon{
        position: absolute;
        width: 32px;
        height: 32px;
        left: 352px;
        top: 54px;
      }
      .title-container {
        display: flex;
        flex-direction: column;
        height: '20%';
        justify-content: center;
        align-items: center;
        gap: 2rem;
        .counterDiv{
          position: absolute;
          width: 84px;
          height: 24px;
          left: 271px;
          top: 341px;
        }
        h2 {
          color: var(--dark-blue);
        }
      }
      .products {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        .product {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          align-items: center;
          background-color: var(--card-color2);
          padding: 1rem;
  
          border-radius: 1rem;
          .image {
            img {
              max-inline-size: 100%;
              block-size: auto;
              height: 10rem;
            }
          }
          h4 {
            color: var(--dark-blue);
          }
          hr {
            height: 0.2rem;
            width: 80%;
            background-color: var(--dark-blue);
          }
          .processor,
          .os {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            p {
              color: var(--light-blue);
            }
          }
          svg {
            color: var(--ocean-blue);
            font-size: 2rem;
          }
        }
      }
    }
    @media only screen and (min-device-width: 768px) {
      .container {
        .products {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
    @media screen and (min-device-width: 1200px) {
      .container {
        .title-container {
          flex-direction: row;
          justify-content: space-between;
          margin: 0 5rem;
        }
        .products {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
  